<h1 class="text-white text-center m-5">PIANO APP</h1>
<div class="container w-50 h-50 d-flex justify-content-center flex-column">
  <div class="list-group w-100 h-50 mt-5 mb-5">
    <a
      (click)="sound(1)"
      class="list-group-item list-group-item-action bg bg-success text-success"
      >.</a
    >
    <a
      (click)="sound(2)"
      class="list-group-item list-group-item-action bg bg-danger text-danger"
      >.</a
    >
    <a
      (click)="sound(3)"
      class="list-group-item list-group-item-action bg bg-warning text-warning"
      >.</a
    >
    <a
      (click)="sound(4)"
      class="list-group-item list-group-item-action bg bg-primary text-primary"
      >.</a
    >
    <a
      (click)="sound(5)"
      class="
        list-group-item list-group-item-action
        bg bg-secondary
        text-secondary
      "
      >.</a
    >
    <a
      (click)="sound(6)"
      class="list-group-item list-group-item-action bg bg-white text-white"
      >.</a
    >
    <a
      (click)="sound(7)"
      class="list-group-item list-group-item-action bg bg-dark text-dark"
      >.</a
    >
  </div>
  <audio controls class="mt-2 w-100">
    <source src="../assets/sound/note1.wav" />
  </audio>
</div>
